*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background: rgb(38,38,39);
    background: radial-gradient(circle, rgba(38,38,39,1) 0%, rgba(94,91,91,1) 100%);
    color: white;
    font-family: sans-serif;
}
:root{
    --green: rgb(24, 227, 24);
}
#content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    backdrop-filter: blur(15px);
    background-color: rgba(83, 77, 77, 0.2);

}
form{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
input[type="submit"]{
    width: 120px;
    height: 30px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
    border-radius: 10px;
    border: 2px solid var(--green);
    background-color: var(--green);
    color: white;
    transition: 0.5s;
}
input[type="submit"]:hover{
    box-shadow: 0 0 8px 5px var(--green);
}
input[type="text"]{
    width: 200px;
    height: 30px;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid var(--green);
    padding: 5px;
}
input[type="text"]:focus{
    outline: none !important;
    border-color: var(--green);
}
table{
    width: 330px;
    justify-content: space-between;
}